/* @import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&display=swap'); */

:root {
	--clr-primary: #000;
	--clr-secondary: #aa966f;
	--clr-background: whitesmoke;

	--ff-primary: "Roboto", sans-serif;
	--ff-secondary: "Open Sans", sans-serif;
	--transition: all 0.3s ease-out;
	--spacing: 0.25rem;
	--radius: 0.5rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	--max-width: 1170px;
	--fixed-width: 620px;
	size: 16px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
html {
	height: 100%;
	font-family: 'Aleo', serif;
	overflow: auto;
	margin-right: 0.2rem;
	margin-left: 0.1rem;
}

h1,
h2,
h3,
h4 {
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	margin: 0.5rem auto;
	font-weight: 400;
}

h3 {
	font-size: 1.2rem;
}

ul {
	list-style-type: none;
	padding: 0;
}

a {
	text-decoration: none;
}

header {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	z-index: 200;
}

div {
	max-width: 1900px;
	margin: auto;
}

.nav-bar {
	overflow: hidden;
	/* min-height: 80px; */
	/* max-height: 94px; */
	display: block;
	background-image: url(images/hojas-blancas.svg);
	background-color: var(--clr-background);
	background-size: cover;
}

.nav-header {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.nav-logo {
	width: 50%;
	max-height: 94px;
	display: flex;
	justify-content: left;
	align-items: center;
	margin: 0;
	padding: 2%;
}

.links {
	height: 0;
	overflow: hidden;
	display: none;
	font-size: 1.5rem;
	padding: 1%;
}

.links a {
	color: var(--clr-primary);
	font-weight: 500;
	text-transform: capitalize;
	letter-spacing: 0.25rem;
	display: block;
	padding: 0.6rem 1rem;
}

.links a:hover {
	color: var(--clr-secondary);
	padding-left: 1.5rem;
}

.links i:hover {
	color: var(--clr-primary);
	/* padding-left: 1.5rem; */
}

.show-links {
	padding: 0.5rem 0;
	height: 10.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	font-size: 1rem;

	width: 100%;
	/* pendiente transición */
}

.nav-toggle-container {
	width: 30%;
	display: flex;
	align-items: center;
	margin: 0 0 0 auto;
}

.nav-toggle {
	font-size: 1.5rem;
	color: var(--clr-secondary);
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	margin: 0.5rem auto 0 1em;
}

.nav-toggle:focus,
.drop-btn:focus {
	outline: none;
}

.logo {
	display: flex;
	align-items: center;
	margin: auto 0;
	min-width: 150px;
	max-width: 300px;
	width: 200px;
}

.cart-container {
	width: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 24px;
	right: 0.5em;
}

.cart-logo {
	font-size: 1.3rem;
	z-index: 20;
	color: var(--clr-secondary);
	opacity: 0.7;
}

.cart-count {
	background-color: transparent;
	opacity: 0.7;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	margin: 0.2em auto;
}

.show-count {
	background-color: var(--clr-primary);
}

/* Whatsapp Btn */
.btn-container {
	background: none;
	border: none;
	position: -webkit-sticky;
	position: sticky;
	top: 90%;
	right: 2%;
	z-index: 1;
	float: right;
}

.whatsapp-logo {
	width: 3rem;
}

/* Slideshow container */
.slideshow-container {
	max-width: 1900px;
	position: relative;
}

.mySlides {
	position: relative;
	background-size: cover;
	height: 16rem;
}

.background1::after,
.background2::after,
.background3::after {
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	background-color: #333;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
	z-index: 0;
}

.background1 {
	/* position: relative; */
	background-image: url(images/2.jpeg);
	/* background-position: 0 -20; */
}

.background2 {
	background-image: url(images/1.jpeg);
	/* background-position: -100 20; */
}

.background3 {
	background-image: url(images/4.jpeg);
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: var(--clr-background);
	font-weight: bold;
	font-size: 1.2rem;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.text {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	margin: 0 10%;
	bottom: 40%;
	color: var(--clr-background);
	font-size: 2.2rem;
	text-align: center;
	z-index: 1;
}

.dot {
	cursor: pointer;
	height: 0.8em;
	width: 0.8em;
	margin: 2px 2px;
	background-color: var(--clr-secondary);
	opacity: 0.5;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: var(--clr-primary);
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: .4;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: .4;
	}
	to {
		opacity: 1;
	}
}

/* About us section */

.about-us {
	padding: 1.2rem;
	margin: 2rem auto;
	background-color: var(--clr-secondary);
	color: var(--clr-background);
}

.about-us h3 {
	margin-left: 2em;
}

.about-us p {
	text-align: center;
	line-height: 1.5rem;
}
.comp-values {
	padding: 0 1.2rem;
	margin: 0.8rem auto;
}
.comp-values p {
	font-weight: 300;
	line-height: 1.5rem;
	text-align: center;
	padding-right: 3%;
}

.comp-values-section {
	margin: 1.5rem 0;
}

.value-title {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 0.5rem;
}

.value-title h3 {
	margin: 0 0 0 1rem;
}

.value-logo {
	width: 2rem;
}
#local-logo {
	width: 1.7rem;
}
#natural-logo {
	width: 2.3rem;
}

.section1 {
	text-align-last: center;
}

.history-img {
	display: flex;
	margin: 2rem auto;
	width: 90%;
	height: 20rem;
	background-image: url("./images/history-img.jpg");
	background-size: cover;
	background-position: -200 0;
	background-repeat: no-repeat;
	max-width: 1700px;
}
/* Products section */
.products-container-home {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
}

.card {
	position: relative;
	margin: 0.5rem 0;
	background: rgba(0, 0, 0, 0.7);
	max-width: 1250px;
}

.touch-img {
	position: absolute;
	top: 20px;
	right: 25px;
	font-size: 1.5rem;
	color: rgba(255, 255, 255, 0.5);
}

.card:hover .touch-img {
	display: none;
}

.card::before,
.card::after {
	content: '';
	position: absolute;
	top: 1.25em;
	bottom: 1.25em;
	left: 1.25em;
	right: 1.25em;
	opacity: 1;
	-webkit-transition: -webkit-transform ease-out 250ms;
	transition: -webkit-transform ease-out 250ms;
	transition: transform ease-out 250ms;
	transition: transform ease-out 250ms, -webkit-transform ease-out 250ms;
}
.card::before {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
}

.card::after {
	border-left: 1px solid white;
	border-right: 1px solid white;
	-webkit-transform: scale(1, 0);
	transform: scale(1, 0);
}

.card:hover::before {
	-webkit-transform: scale(1.05, 1);
	transform: scale(1.05, 1);
}

.card:hover::after {
	-webkit-transform: scale(1, 1.05);
	transform: scale(1, 1.05);
	z-index: 10;
}

.card__img {
	max-width: 100%;
	min-height: 38vh;
	max-height: 50rem;
	display: block;
	-webkit-transition: opacity ease-out 250ms;
	transition: opacity ease-out 250ms;
	opacity: 1;
}

.card:hover .card__img {
	opacity: .3;
}

.card__text {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90%;

	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: white;
	opacity: 0;
	-webkit-transition: opacity ease-out 250ms;
	transition: opacity ease-out 250ms;
	z-index: 100;
	text-decoration: none;
}

.card:hover .card__text {
	opacity: 1;
}

.card__title {
	font-size: 1.5rem;
	color: white;
	margin-bottom: 0;
	text-align: center;
}

.card__body {
	margin: 1rem;
	text-align: center;
	font-size: 0.9rem;
	line-height: 1.4rem;
}

.card__body a {
	color: white;
	text-decoration: underline;
}

.select-product,
.items-in-cart {
	display: none;
	height: 15em;
	width: 17em;
	background-color: var(--clr-background);
	position: absolute;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	opacity: 0.92;
}

.items-in-cart {
	/* height: 0px; */
	right: 0;
	top: 2.5em;
	width: 70%;
	max-width: 400px;
	border: 1px solid;
	height: 90%;
	z-index: 300;
}

.list-container {
	display: flex;
	justify-content: center;
	margin: auto;
}

.items-in-cart-list li {
	justify-self: center;
	align-self: center;
	margin: 0.5em auto;
	/* font-size: 1rem; */
}

.total-container {
	margin: 0.5em 0;
}

.select-product {
	bottom: 50px;
	left: 25%;
}

.show {
	margin: auto;
	display: block;
	overflow: scroll;
}

.cart-list-container {
	position: sticky;
	bottom: 0;
	right: 0;
	margin: 0.5em auto 0 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--clr-background);
}

.prod-size {
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	padding: 0 0 1em 0;
}

.prod-size p {
	margin: 0.5em auto;
}

.prod-size span {
	margin: auto 1em;
	width: 2em;
}

.cost {
	margin: 0 1em;
}
.cost.g315 {
	margin: 0 3em 1.5em 1em;
}

p .mod-quantity {
	margin-left: 2em;
}

.fa-minus,
.fa-plus {
	font-size: 0.8rem;
}
.buy-btn-container {
	width: 100%;
	display: flex;
	justify-content: center;
	/* border: 1px solid; */
}

.buy-btn-container #buy-ghee {
	position: absolute;
	bottom: 2px;
}

.buy-prod-btn,
.checkout-btn {
	border-style: none;
	border-color: transparent;
	background-color: var(--clr-primary);
	color: var(--clr-background);
}

.clear-cart-btn {
	width: 5rem;
	height: 1.3rem;
	background-color: var(--clr-background);
	color: var(--clr-primary);
	border: 1px solid var(--clr-primary);
	margin-top: 0.5em;
}

.checkout-btn {
	height: 1.8rem;
	width: 10rem;
	color: var(--clr-background);
	margin: 0.1em 0 0.4em 0;
}

.buy-prod-btn {
	height: 2rem;
	width: 6rem;
	font-size: 1rem;
	justify-self: center;
	align-self: center;
	margin: auto;
}

.close-btn-container {
	width: 100%;
	height: 30px;
	margin: 0 0 0.2em 0;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 300;
	background-color: var(--clr-background);
	display: flex;
	align-items: center;
}
.close-btn {
	border: none;
	background-color: transparent;
	font-size: 1.2rem;
	position: absolute;
	right: 15px;
}

.add-prod,
.remove-prod {
	border-style: none;
}

.add-prod:focus,
.remove-prod:focus {
	outline: none;
}

.add-to-cart {
	padding: 0.5em;
	margin: 1.5em 0.5em 0 0.5em;
	border: solid 0.5px var(--clr-primary);
	color: black;
	font-weight: 700;
}
/* Footer section */
.footer {
	display: grid;
	grid-template: 1fr / 1fr 1fr;
	background-color: var(--clr-secondary);
	margin: 0.5rem auto 0 auto;
	min-height: 60px;
	padding: 0.5rem;
}

.footer-contact {
	font-size: 0.7rem;
	color: white;
	border-right: 0.1rem solid white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

.social-logos {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.fa-facebook-square,
.fa-instagram {
	margin: auto 1rem;
	font-size: 1.5rem;
	color: var(--clr-background);
	-webkit-transition: color ease-out 250ms;
	transition: color ease-out 250ms;
	-webkit-transition: font-size ease-out 250ms;
	transition: font-size ease-out 250ms;
}

.fa-instagram {
	font-size: 1.59rem;
}

.created-by {
	font-size: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin: auto;
	grid-row: 2;
	padding: 0.5rem;
}

.created-by:before {
	content: ' \00A9';
}

/*  Historia */
.about-us__images {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.8rem;
	margin: 0.2rem;
	height: auto;
}

/* Products */
.products {
	width: 100%;
	display: flex;
	flex-direction: column;
	line-height: 1.5rem;
	padding: 1.2rem;
}

.products__title {
	margin-bottom: 1.5rem;
	color: var(--clr-secondary);
	font-weight: 700;
}

.products__images {
	margin: 1rem 0;
}

.products__images h3 {
	margin: 2rem 0;
}

.products-wrapper {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
}
.drop-wrapper {
	margin: 0;
	width: 750px;
}

.image__container {
	position: relative;
	margin: 0;
}

.products__one,
.products__two,
.products__three {
	max-width: 600px;
	margin: 0;
}

.buy-btn {
	background-color: transparent;
	border: none;
	color: var(--clr-background);
	cursor: pointer;
	width: 9rem;
	height: 2rem;
	font-size: 1rem;
	letter-spacing: 0.09rem;
	text-transform: uppercase;
	margin: auto;
	transition: all 0.3s ease;
}

.drop-title {
	background-color: white;
	color: var(--clr-secondary);
	height: 3rem;
	display: flex;
	align-items: center;
	/* justify-content: center; */
	margin: 1rem 0;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	position: relative;
}

.drop-title h4 {
	font-weight: 400;
	/* justify-self: left; */
	margin: 0 2rem 0 1rem;
}

.description {
	margin-top: 2rem;
}

.drop-btn {
	font-size: 1.5rem;
	position: absolute;
	right: 1%;
	top: 20%;
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	color: var(--clr-secondary);
	margin-right: 1.5rem;
	transition: all 0.3s ease;
}

.rotate {
	transform: rotate(90deg);
}

.products__text {
	text-align: center;
	font-weight: 300;
}

.products__list {
	margin: 1.2rem;
	font-weight: 300;
	list-style-type: circle;
}

.drop-menu {
	display: none;
}
.show-text .drop-menu {
	display: block;
}
.about-us__images img,
.products__images img {
	width: 100%;
	/* image-rendering: auto; */
	/* margin: auto; */
}
.about-us__one {
	grid-column: 1;
	grid-row: 1;
}
.about-us__two {
	grid-column: 2;
	grid-row: 1;
}
/* Contacto */
.wrapper {
	display: flex;
	width: 100%;
	height: 30rem;
}
.container {
	max-width: 400px;
	width: 60%;
}

.contacto {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 3rem 0;
	height: 20rem;
	width: 100%;
}

.contacto-container {
	margin: 1rem;
	padding: 1rem;
	text-align: center;
	line-height: 1.5rem;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea,
#contact button[type="submit"] {
	font: 400 12px/16px 'Aleo', serif;
	width: 100%;
	border: 1px solid #ccc;
	background: #fff;
	margin: 0 0 5px;
	padding: 10px;
}

#contact {
	background: #f9f9f9;
	padding: 25px;
	margin: 50px 0;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact textarea:hover {
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
	border: 1px solid rgb(129, 128, 128);
}

#contact input:focus,
#contact textarea:focus {
	outline: 0;
	border: 1px solid rgb(129, 128, 128);
}

#contact button[type="submit"] {
	cursor: pointer;
	width: 100%;
	border: none;
	background: rgb(4, 146, 120);
	color: #fff;
	margin: 0 0 5px;
	padding: 10px;
	font-size: 15px;
}

#contact button[type="submit"]:hover {
	background: rgba(74, 160, 144, 0.9);
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

/* Media Queries */
@media screen and (min-width: 500px) {
	.nav-logo {
		margin: auto;
	}
	.nav-toggle i {
		font-size: 1.8rem;
	}
	.mySlides {
		height: 18rem;
	}
	.card {
		margin: 0.5rem 0.3rem;
	}
	.text {
		font-size: 2.5rem;
	}
	.card__title {
		font-size: 2rem;
	}
	.card__body {
		font-size: 1.1rem;
		line-height: 1.8rem;
	}
	.history-img {
		background-position: -90 0;
	}
}

@media screen and (min-width: 650px) {
	.mySlides {
		height: 20rem;
	}
	.text {
		font-size: 3.5rem;
	}
	.card__title {
		font-size: 2.5rem;
	}
	.card__body {
		font-size: 1.2rem;
		line-height: 2rem;
	}
	.history-img {
		background-position: 0 0;
		height: 25rem;
	}
}

@media screen and (min-width: 800px) {
	.nav-header {
		padding: 0;
	}
	.mySlides {
		height: 24rem;
	}
	.text {
		font-size: 4rem;
	}
	.card__title {
		font-size: 3rem;
	}
	.card__body {
		font-size: 1.5rem;
		line-height: 2.5rem;
	}
	.footer-contact {
		font-size: 0.8rem;
	}
	.created-by {
		font-size: 0.6rem;
	}
	.fa-facebook-square {
		font-size: 1.6rem;
	}
	.fa-instagram {
		font-size: 1.69rem;
	}
	.history-img {
		height: 30rem;
	}
}
@media screen and (min-width: 1000px) {
	.nav-header {
		flex-wrap: nowrap;
	}
	.nav-toggle {
		display: none;
	}
	.nav-toggle-container {
		width: 1px;
		overflow: hidden;
	}
	.cart-container {
		position: relative;
		top: -7px;
		right: 0;
	}
	.links {
		/* IMPORTANT TO ADD */
		height: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		font-size: 1.2rem;
	}
	.links li {
		display: flex;
		justify-content: space-between;
		padding: 0;
		margin: auto;
	}
	.links a:hover {
		padding: 0;
		background: transparent;
	}

	.mySlides {
		background-position: 0 -100;
		height: 30rem;
	}
	.text {
		font-size: 4.5rem;
	}
	.touch-img {
		top: 300px;
		right: -400px;
		font-size: 4rem;
		color: rgba(0, 0, 0, 0.2);
	}
	#card_mara .touch-img {
		left: -400px;
	}
	.footer-contact {
		font-size: 0.9rem;
	}
	.created-by {
		font-size: 0.7rem;
	}
	.fa-facebook-square {
		font-size: 1.7rem;
	}
	.fa-instagram {
		font-size: 1.74rem;
	}
	.comp-values {
		display: grid;
		grid-template: 0.5fr 1fr 1fr / 1fr 1fr;
	}
	.comp-values-section {
		margin: 3rem;
	}
	.section1 {
		grid-row: 1;
		grid-column: 1/span 2;
	}
	.section1 p {
		padding: 0;
	}
	.section2 {
		grid-row: 2;
		grid-column: 1;
	}
	.section3 {
		grid-row: 2;
		grid-column: 2;
	}
	.section4 {
		grid-row: 3;
		grid-column: 1;
	}
	.section5 {
		grid-row: 3;
		grid-column: 2;
	}
	h3 {
		margin: 1rem;
	}
	.about-us {
		padding: 0.5rem 3rem;
	}
	.about-us p {
		max-width: 1200px;
		margin: 1rem auto;
	}
	.history-img {
		height: 38rem;
	}
}

@media screen and (min-width: 1300px) {
	h3 {
		font-size: 2rem;
		margin: 1.5rem;
	}
	.about-us p {
		margin: 1.5rem auto;
	}
	.mySlides {
		height: 45rem;
	}
	.slideshow-container {
		position: flex;
		align-content: center;
		justify-content: center;
		margin: auto;
	}
	.text {
		font-size: 5rem;
	}
	.cards-container {
		display: grid;
		grid-template: 1fr 1fr 1fr / 1fr 1fr;
	}
	.card__title {
		font-size: 2rem;
	}
	.card__body {
		font-size: 1rem;
		line-height: 1.5rem;
	}
	#card_ghee {
		grid-row: 1;
		grid-column: 1;
	}
	#card_mara {
		grid-row: 2;
		grid-column: 2;
	}
	#card_almd {
		grid-row: 3;
		/* grid-column: 3; */
	}
	.card__text {
		/* top:20%; */
		left: 150%;
	}
	#card_ghee .card__title,
	.card__body {
		color: #000;
		grid-row: 2;
		grid-column: 1;
	}
	#card_mara .card__title,
	.card__body {
		color: #000;
		grid-row: 2;
		grid-column: 1;
	}
	#card_mara .card__text {
		left: -50%;
	}
	#card_almd .card__title,
	.card__body {
		color: #000;
		grid-row: 2;
		grid-column: 1;
	}
	.card__body a {
		color: var(--clr-secondary);
		font-weight: 600;
	}
	.card:hover .card__img {
		opacity: 1;
	}
	.card::before {
		border-top: 2px solid white;
		border-bottom: 2px solid white;
		-webkit-transform: scale(0, 1);
		transform: scale(0, 1);
	}
	.card::after {
		border-left: 2px solid white;
		border-right: 2px solid white;
		-webkit-transform: scale(1, 0);
		transform: scale(1, 0);
	}
	.history-img {
		height: 45rem;
	}
	.description {
		margin-top: 10rem;
	}
	.products__images h3 {
		margin: 0;
	}
}
